.carouselBackground {
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 12px;
      height: 36vh;
    width: 47vw;
    position: relative;
  }

  .carouselImages {
    height: 30vh;
    width: 90%;
    margin-top: 3vh;
    margin-left: 5%;
    position: absolute;
  }


.firstCarouselImage {
  
    animation-name: imageSlider1;
    animation-duration: 16s;
   
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: imageSlider1;
    -webkit-animation-duration: 16s;
    -webkit-animation-fill-mode: forwards;
   
  
  }
  .secondCarouselImage {
  
    animation-name: imageSlider2;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: imageSlider2;
    -webkit-animation-duration: 16s;
    -webkit-animation-fill-mode: forwards;
  
  }
  .thirdCarouselImage {
  
    animation-name: imageSlider3;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: imageSlider3;
    -webkit-animation-duration: 16s;
    -webkit-animation-fill-mode: forwards;
  
  }
  .fourthCarouselImage {
  
    animation-name: imageSlider4;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: imageSlider4;
    -webkit-animation-duration: 16s;
    -webkit-animation-fill-mode: forwards;

  }
  
  @keyframes imageSlider1 {
    0% {
      opacity: 0;
    }
    6%{
      opacity: 1;
    }
    23%{
      opacity: 1;
    }
    26% {
      opacity: 0;
    }
   
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes imageSlider1 {
    0% {
      opacity: 0;
    }
    6%{
      opacity: 1;
    }
    23%{
      opacity: 1;
    }
    26% {
      opacity: 0;
    }
   
    100% {
      opacity: 0;
    }
  }
  @keyframes imageSlider2 {
    0% {
      opacity: 0;
    }
    23%{
      opacity: 0;
    }
    26% {
      opacity: 1;
    }
    48%{
      opacity: 1;
    }
   51%{
     opacity: 0;
   }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes imageSlider2 {
    0% {
      opacity: 0;
    }
    23%{
      opacity: 0;
    }
    26% {
      opacity: 1;
    }
    48%{
      opacity: 1;
    }
   51%{
     opacity: 0;
   }
    100% {
      opacity: 0;
    }
  }
  @keyframes imageSlider3 {
    0% {
      opacity: 0;
    }
    48%{
      opacity: 0;
    }
    51% {
      opacity: 1;
    }
    73%{
      opacity: 1;
    }
   76%{
     opacity: 0;
   }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes imageSlider3 {
    0% {
      opacity: 0;
    }
    48%{
      opacity: 0;
    }
    51% {
      opacity: 1;
    }
    73%{
      opacity: 1;
    }
   76%{
     opacity: 0;
   }
    100% {
      opacity: 0;
    }
  }
  @keyframes imageSlider4 {
    0% {
      opacity: 0;
    }
   
    73%{
      opacity: 0;
    }
    
    76%{
      opacity: 1;
    }
    97%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes imageSlider4 {
    0% {
      opacity: 0;
    }
   
    73%{
      opacity: 0;
    }
    
    76%{
      opacity: 1;
    }
    97%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  